div.col-8.bg-light.p-5.mb-5
    h1.text-center Product List
    div
        if data.length > 0
            table.table.table-dark.table-striped.text-center
                thead
                    tr
                        th Title
                        th Price
                        th Thumbnail
                    
                tbody
                    each val in data
                        tr
                            td= val.title
                            td= val.price
                            td 
                                img(clas="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/hg-store-293e9.appspot.com/o/product.png?alt=media&token=5ef8328d-6062-4d30-956b-9a780e83c0a8", alt="alt" style="width: 30px;")
                tfoot
                    tr
                        td Title
                        td Price
                        td Thumbnail
        else 
            .alert.alert-warning Produsts not found.