<div class="col-8 bg-light p-5 mb-5">
    <% if(data.length > 0){%>
        <table class="table table-dark table-striped text-center">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(product){ %>
                    <tr>
                        <td><%= product.title %></td>
                        <td><%= product.price %></td>
                        <td><img clas="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/hg-store-293e9.appspot.com/o/product.png?alt=media&token=5ef8328d-6062-4d30-956b-9a780e83c0a8", alt="alt" style="width: 30px;"></td>
                    </tr>
                <% }); %>
            </tbody>
            <tfoot>
                <tr>
                    <td>Title</td>
                    <td>Price</td>
                    <td>Thumbnail</td>
                </tr>
            </tfoot>
        </table>
    <% }else{ %>
        <div class="alert alert-warning">Produsts not found.</div>
    <% } %>
</table>    